node_modules/
www/

# iOS
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
ios/.build/
*.xcuserstate
xcuserdata/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/captures/
